<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="d-flex align-items-center">
          <mat-icon class="me-2 text-primary">summarize</mat-icon>
            AI based Task Summary
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card-content class="p-3">
      <button 
        mat-raised-button 
        color="accent" 
        class="w-100" 
        (click)="generateSummary()"
      >
        <mat-icon>auto_awesome</mat-icon> Generate Summary
      </button>
      @if(showSummary){
      <div class="summary-content p-3 mt-3 bg-light">
        <p class="mb-0">{{ taskSummary }}</p>   
        </div>
       }

    </mat-card-content>
  </mat-expansion-panel>